<html>
    <head>
        <title>Brenda's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Brenda's Blog</a></h1>
        </div>

        <div>
            <p>published: 29.08.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first blog post here. Don't worry I will create more reasonable posts for you to enjoy</p>
        </div>

        <div>
            <p>published: 30.08.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post. Not so different from the first one. I am working on those post. Coming soon!</p>
        </div>
    </body>
</html>